@import "tailwindcss";


@theme {
  --color-background: #f0fdf4;
  --color-primary: #059669;
  --color-secondary: #10b981;
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
