@import "tailwindcss";


@theme {
  --color-background: #fff7ed; /* soft warm background */
  --color-primary: #f97316;    /* vibrant orange */
  --color-secondary: #fb923c;  /* lighter orange accent */
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
